// Fonts
@import 'resources/font-awesome-4.7.0/scss/font-awesome.scss';
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import "node_modules/toastr/toastr.scss";

body {
    background-color: #fafafa;
    font-weight: normal;
    font-family: SourceSansPro,
        -apple-system, BlinkMacSystemFont,
        "PingFang SC", Helvetica, Arial,
        "Microsoft YaHei", 微软雅黑, 黑体, Heiti, sans-serif, SimSun, 宋体, serif;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #777;
    text-decoration: none;
}

%color-text-default {
    color: #777;
}


.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// register-btn
.btn-send {
    border-radius: 6px;
    color: #999;
    font-size: 13px;
    padding-bottom: 1px;
    height: 36px;
}

// nav-sub
.navbar-search {
    position: relative;

    svg {
        position: absolute;
        right: -10px;
        cursor: pointer;
    }
}

.dropdown-submenu {
    position: relative;
}



.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    padding-left: 8px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

%h3-title {
    font-weight: normal;
    font-size: 1.025rem;
    color: #555;
    border-bottom: 1px solid #eee;
}

%inline-mid {
    display: inline-block;
    vertical-align: middle;
}




// index.blade
.content-list-main {
    background: #fff;
    padding: 10px 20px;

    h3 {
        margin: 0;
        padding: 15px 0;
        @extend %h3-title;

    }

    .content-list {
        box-sizing: border-box;
        padding: .5rem 0;
        position: relative;
        border-bottom: 1px solid #e5e5e5;

        .portrait {
            width: 105px;

            .name {
                margin: 0;
                max-width: 60px;
                height: 20px;
                line-height: 20px;
                font-size: 13px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                @extend %inline-mid;
            }

            img {
                @extend %inline-mid;
                width: 20px;
                border-radius: 50%;
                border: 1px solid rgba(0, 0, 0, 0.1);
                margin-right: 8px;
            }

            .fa {
                margin-right: 8px;
                font-size: 15px;
            }
        }

        .info {
            box-sizing: border-box;
            padding: 3px 0;

            a:link,
            a:visited,
            a:hover,
            a:active {
                color: #333;
                font-size: 1rem;
            }

            a:hover {
                opacity: .85;
            }

            .title {
                max-width: 100%;
                height: 20px;
                line-height: 20px;
                display: inline-block;
                font-size: 14px;
                margin-bottom: 4px;
                font-weight: normal;
                color: #333333;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            ul {
                height: 20px;
                @extend %color-text-default;
                font-size: 13px;
                margin-top: 5px;
                margin-bottom: 0;
                display: inline-block;
                padding-left: 0;
                bottom: 8px;
                overflow: hidden;
                width: 100%;


            }

            ul li {
                width: auto;
                display: inline-block;
                margin-right: 20px;
                vertical-align: middle;

                .fa-small {
                    margin-right: 4px;
                    font-size: 13px;
                }
            }

            ul li span {
                padding-left: 5px;
            }
        }
    }
}

.main-list-package {
    margin-bottom: 1.25rem;
}

// detail-card
.detail-card {
    padding: 2rem;

    ul {
        @extend %color-text-default;
        list-style: none;

        li {
            padding-left: 20px;
        }

        img {
            display: block;
        }
    }

    ul,
    li {
        position: relative;
    }

    ul:before,
    li:before {
        content: "";
        border: 3px solid #666;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
    }
}

.detail-title {
    @extend %h3-title;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

// list -vue
.btn-secondary {
    font-size: 0.6rem;
}

.clearpadding {
    padding: 0;
}



%fa-list {
    width: 14px;
    margin-right: .35rem;
}

%fa-list-r {
    width: 14px;
    margin-right: .85rem;
}

.list-panel-left {
    max-width: 12%;
    flex: 0 0 12%;

    .btn-secondary {
        margin: 5px 0;
    }

    .panel-heading {
        font-size: .95rem;
        @extend %color-text-default;

        .fa {
            @extend %fa-list;
        }
    }

    .panel-heading-current {
        color: #333333;
    }
}

.list-panel-right {
    max-width: 88%;
    flex: 0 0 88%;

    .list-panel-header {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        overflow: hidden;

        .list-name {
            width: 50%;

        }

        .list-last-time {
            width: 30%;
        }

        .list-handle {
            width: 20%;
        }
    }

    .list-panel-header>div {
        padding-left: 2rem;
        @extend %color-text-default;
    }

    .list-group {
        padding-left: 0 !important;
    }

    .list-group-item {
        background-color: transparent;
        border-top: 0;
        border-left: 0;
        border-right: 0;

        .btn-secondary {
            margin: 0 5px;
        }

        .created-time {
            margin-left: 10px;
            font-size: .25rem;
            color: #999;
        }

        .fa {
            @extend %fa-list;
        }
    }

    .list-group-item>a {
        padding-left: 13px;
    }

    .list-handle-select {
        margin-right: 9rem;


        .dropdown-toggle {
            color: #ddd;
        }

        .dropdown-toggle:hover {
            @extend %color-text-default;
        }

        .dropdown-toggle::after {
            display: none;
        }

        .dropdown-menu {
            padding: 0 !important;

            .fa {
                @extend %fa-list-r;
            }

            .line-bottom {
                border-bottom: 1px solid #ddd;
            }

            li {
                padding: 5px 22px;
                color: #777;
            }

            li:hover {
                background: #eaeaea;
            }
        }
    }
}


.top-bar {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;

    .fa {
        @extend %fa-list;
    }
}



// 评论模块
.inner-center {
    display: block;
    margin: 2rem auto;
}

.needs-validation {
    textarea {
        border-color: #eee;
        width: 100%;
        resize: none;
        padding: .6rem .5rem;
        color: #666;
    }

    button {
        width: 150px;
    }
}

.media {

    a:link,
    a:visited,
    a:active {
        color: #3490dc;
    }
}

%fa-list-comment {
    font-size: 32px;
    margin-right: .85rem;
    color: #2176bd;
}

.comments-list {
    .fa {
        @extend %fa-list;
    }

}
